* {
  font-family: "Work Sans", sans-serif;
  margin: 0px;
  padding: 0px;
}
header {
  background-image: url(../images/banner/banner1.png);
  max-width: 1600px;
  max-height: 800px;
}
.banner-description {
  text-align: right;
  margin-right: 230px;
}
.banner-title {
  color: #151414;
  font-weight: 700;
  line-height: normal;
  height: 50px;
  padding-top: 215px;
  font-size: 30px;
}
.banner-paragraph {
  color: #444343;
  font-size: 16px;

  font-weight: 400;
  line-height: 26px;
  height: 78px;
  margin-top: 30px;
  margin-left: 800px;
}
.btn {
  width: 150px;
  height: 60px;
  border-radius: 5px;
  border: 0;
  background: #f15b22;
  padding: 20px 25px;
  color: #fff;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 180px;
}
/* failure description */
.failure {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.person-img {
  width: 451px;
  /* flex-shrink: 0; */
  padding-top: 140px;
  margin-left: 200px;
}
.failure-title {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
  width: 280px;
  padding-top: 350px;
  margin-bottom: 20px;
}

.failure-details {
  color: #444343;
  width: 415px;
  font-size: 16px;
  font-weight: 400;
  padding-right: 320px;
  padding-bottom: 16px;
  line-height: 24px;
}

.failure-list {
  color: #444343;
  font-weight: 400;
  line-height: 24px;
}

.my-plan-title {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding-top: 45px;
  padding-bottom: 30px;
}
.skills {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.skills img {
  width: 80px;
  height: 80px;
}
.skills h4 {
  color: #151414;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
}
.skills p {
  color: #737272;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
}

.mindset {
  margin-top: 130px;
  width: 1140px;
  height: 300px;
  background-image: url(../images/watch.png);
  margin-left: 185px;
  padding-left: 65px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-repeat: no-repeat;
  border-radius: 8px;
  
}
.mindset-title {
  color: #fff;
  font-size: 35px;
  font-weight: 700;
  width: 460px;
  margin-bottom: 24px;
}
.btn-primary{
    width: 160px;
height: 64px;
flex-shrink: 0;
border-radius: 5px;
background: #FFF;
border: 0;
color:#F15B22 ;
font-weight: 600;
text-align: center;
font-size: 18px;
}
